@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,700;0,900;1,700;1,900&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617] text-white selection:bg-primary/30;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .perspective-2000 {
    perspective: 2000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}